<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="PlatAssemblySection" type="Siemens.Simatic.Platform.Core.PlatformAssemblySection,Siemens.Simatic.Platform.Core"/>
    <section name="PlatConfigManager" type="Siemens.Simatic.Platform.Configuration.SSConfigManagerSection,Siemens.Simatic.Platform.Configuration"/>
    <!--log4net configuration-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <PlatConfigManager configServiceUrl="http://localhost/AlertApi/ConfigService.asmx" application="SIT-Comba Customization" runenvironment="Development"/>

  <!--ConfigService.asmx需要这个-->
  <connectionStrings>
    <add name="Siemens.Simatic.Platform.ConfigConnectionString" connectionString="Database=AlertDB;Server=localhost;uid=sa; pwd=SwqaMe$1;Integrated Security=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <PlatAssemblySection>
    <Assemblies>
      <Assembly>Siemens.Simatic.Platform.Core.dll</Assembly>
      <Assembly>Siemens.Simatic.Platform.Common.dll</Assembly>
      <Assembly>Siemens.Simatic.Platform.Data.dll</Assembly>
      <Assembly>Siemens.Simatic.Platform.Configuration.dll</Assembly>
      <Assembly>Siemens.Simatic.ALT.Common.dll</Assembly>
      <Assembly>Siemens.Simatic.ALT.DataAccess.dll</Assembly>
      <Assembly>Siemens.Simatic.ALT.BusinessLogic.dll</Assembly>
      <Assembly>Siemens.Simatic.Wechat.Common.dll</Assembly>
      <Assembly>Siemens.Simatic.Wechat.DataAccess.dll</Assembly>
      <Assembly>Siemens.Simatic.Wechat.BusinessLogic.dll</Assembly>
      <Assembly>Siemens.Simatic.Wechat.Enterprise.dll</Assembly>
      <Assembly>Siemens.Simatic.Util.Utilities.dll</Assembly>
    </Assemblies>
  </PlatAssemblySection>
  <appSettings>
    <add key="DatabaseProviderType" value="SqlServer"/>
    <add key="SITPlatDataSourceKey" value="Default"/>
    <add key="SITBusinessDataSourceKey" value="Default"/>
    <add key="SystemArchitectureType" value="BS"/>
    <add key="SystemLog" value="False"/>

    <!--ConfigService.asmx需要这两个-->
    <add key="SystemConfigCacheExpirationMinutes" value="10"/>
    <add key="ResourceCultureCacheExpirationMinutes" value="10"/>

    <add key="corpid" value="wx7d6912dba795d5b8"/><!--微信企业号-Holley-->
    <add key="corpSecret" value="aAoaQSmAXwzwdRXz8AaMdCJvTU9MCWrZxUdNVr_FhGB1N6TGhKxd9Uqxv4s-J6T3"/><!--应用secret-->
    <add key="orgSecret" value="aAoaQSmAXwzwdRXz8AaMdCJvTU9MCWrZxUdNVr_FhGB1N6TGhKxd9Uqxv4s-J6T3"/><!--通讯录secret-->
    <add key="AgentGuid" value="92E004F4-A264-49CC-8A66-70B95B64AFA4"/><!--保存联系人的应用默认值-->

    <add key="SenderAccount" value="zhongxia.wan@holley.cn"/>
    <add key="SenderUser" value="smtp.exmail.qq.com"/>
    <add key="SenderPassword" value="Wzx0907"/>
    <add key="SmtpServer" value="smtp.exmail.qq.com"/>
    <add key="SmtpPort" value="25"/>
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="C:\MesLog\AlertApi\"/>
      <!--编码-->
      <param name="Encoding" value="utf-8" />
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true"/>
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="10"/>
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <!-- 控制台前台显示日志 -->
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="Info"/>
        <foreColor value="Green"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%date{HH:mm:ss,fff} [%-5level] %m"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info"/>
        <param name="LevelMax" value="Fatal"/>
      </filter>
    </appender>
    <root>
      <!--(高) OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低) -->
      <level value="all"/>
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>



</configuration>